#
# Copyright 2025 Oxide Computer Company
#

[project.illumos]
github = "oxidecomputer/illumos-gate"
rev = "stlouis"
unless_env = "BUILD_OS"

[project.omnios-build]
github = "oxidecomputer/helios-omnios-build"
rev = "helios2"
unless_env = "BUILD_OS"
use_ssh = false
site_sh = true

[project.omnios-extra]
github = "oxidecomputer/helios-omnios-extra"
rev = "helios2"
unless_env = "BUILD_OS"
use_ssh = false
site_sh = true

[project.pinprick]
github = "oxidecomputer/pinprick"
rev = "beab67cab00dfe70a89eb3ab9a00ce9836c62d47"
use_ssh = false
cargo_build = true

[project.phbl]
github = "oxidecomputer/phbl"
rev = "b2696050813aa612ab7d8e0f5b0b1043fbb5a450"
use_ssh = false
auto_update = true

[project.image-builder]
github = "illumos/image-builder"
rev = "5b83ae76077e9290b3355ece6c3a9476545d8a9b"
use_ssh = false
cargo_build = true
use_debug = true
auto_update = true

[project.bootserver]
github = "oxidecomputer/boot-image-tools"
rev = "300caa098652a2988eb3cbf936868cb719a155ff"
use_ssh = false
cargo_build = true
auto_update = true

#
# -----------------------------------------------------------------------------
# NOTE: Repositories below this comment are all still private.
#
# If you do not have access to private repositories in the "oxidecomputer"
# GitHub organisation, set "OXIDE_STAFF=no" in your environment to skip
# cloning them.
# -----------------------------------------------------------------------------
#

[project.amd-host-image-builder]
github = "oxidecomputer/amd-host-image-builder"
rev = "cd6dbeddc8023f6a2a0d6cfd2758b097660474b8"
use_ssh = false
cargo_build = true
use_debug = true
auto_update = true

[[project.amd-host-image-builder.fixup]]
#
# We used to pin this commit.  To avoid a manual flag day, switch a user with
# this specific commit checked out as a detached HEAD back to main:
#
from_commit = "4eae23e8a86a6b5ae16e26283e9c0bee87cc2167"
to_branch = "main"

[project.amd-firmware]
github = "oxidecomputer/amd-firmware"
rev = "5bf9c9731ea7bca3152cc25321f3a7f5c23c19a3"
use_ssh = true
auto_update = true
unless_env = "OXIDE_STAFF"

[project.chelsio-t6-roms]
github = "oxidecomputer/chelsio-t6-roms"
rev = "fcdf32d1489412a146fa3ea3c09a176720b2cc43"
use_ssh = true
cargo_build = false
auto_update = true
unless_env = "OXIDE_STAFF"

[project.pilot]
github = "oxidecomputer/pilot"
rev = "c8d58b427bd96dcd91fdd85c4461c5f66c532c04"
use_ssh = true
cargo_build = true
auto_update = true
unless_env = "OXIDE_STAFF"
