[project.illumos]
github = "illumos/illumos-gate"

[project.omnios-build]
github = "oxidecomputer/helios-omnios-build"
use_ssh = true
site_sh = true

[project.omnios-extra]
github = "oxidecomputer/helios-omnios-extra"
use_ssh = true
site_sh = true

[project.pinprick]
github = "oxidecomputer/pinprick"
use_ssh = false
cargo_build = true

[project.phbl]
github = "oxidecomputer/phbl"
use_ssh = true

[project.amd-host-image-builder]
github = "oxidecomputer/amd-host-image-builder"
use_ssh = true
cargo_build = true
use_debug = true
auto_update = true
#
# XXX Until amd-host-image-builder#90 is sorted out, we are pinned to an older
# version of the host image builder.  This will also no longer be necessary if
# stlouis#204 lands.
#
commit = "4eae23e8a86a6b5ae16e26283e9c0bee87cc2167"

[project.bootserver]
github = "oxidecomputer/boot-image-tools"
use_ssh = true
cargo_build = true
auto_update = true

[project.image-builder]
github = "illumos/image-builder"
use_ssh = false
cargo_build = true
use_debug = true
auto_update = true

[project.chelsio-t6-roms]
github = "oxidecomputer/chelsio-t6-roms"
use_ssh = true
cargo_build = false
auto_update = true

[project.pilot]
github = "oxidecomputer/compliance-pilot"
use_ssh = true
cargo_build = true
auto_update = true
